# Compiled Python files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
myenv/
venv/
.venv/

# Environment variables
.env

# Database files
*.db
*.sqlite3

# Logs
*.log

# VS Code
.vscode/

# PyCharm
.idea/

# Docker
**/Dockerfile
**/docker-compose.yml

# Node.js
node_modules/

# Python packaging
build/
dist/
*.egg-info/
